# python
__pycache__/
.mypy_cache
*.egg-info/
*cache*
*.pyc
venv/

# Ommitted files and directories 
management/
management.py
tests/resources/
db-pgdata/

# Elastic Beanstalk Files
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# SAM
.aws-sam/*

# Project specific
serverless-build/*
apolo-layer/*
dependencies/*
.~lock*

# Configuration
*.lock
*.env
*.env*
.env

# IDE
.idea/*
.vscode
